/Ci-Slayer-ProyectoPAINter/nbproject/private/
/Ci-Slayer-ProyectoPAINter/dist/
/Ci-Slayer-ProyectoPAINter/build/
/Ci-Slayer-ProyectoInterAvanzada/nbproject/private/
/CiSlayerProyectoInterAvanzada/nbproject/private/
/Ci_Slayer_ProyectoInterAvanzada/nbproject/private/